body {
    padding-top: 10px;
}

a {
    color: blue;
}

.alternateContainer {
    color: #000 !important;
    background-color: #eee !important
}

.w3-container {
    background-color: white;
}

li {
    word-wrap: break-word;
}

.row-container {
    margin-left: 20px;
    margin-right: 20px;
}

.btn-custom {
    width: 100%;
}

.w3-third {
    padding-right: 10px;
}

.title-container {
    padding: 8px 0px 32px 0px;
}

.homepageContainer {
    padding: 50px;
}

.logoTopNavBar {
    width: 60px;
    height: 30px;
}

@media only screen and (max-width:415px) {
    #myNavbar {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    .homepageContainer {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .row-container {
        margin-left: 5px;
        margin-right: 5px;
    }

    .w3-third {
        padding-right: 0px;
    }

    .row {
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 0;
        margin-right: 0;
    }
}
